/* Common colors */
:root {
  --color-heading: #0a0826;
  --color-para: #6c6c6c;
  --color-white: #fff;
  --color-main: #2d25a0;
  --color-btn: #e02c6d;
}

/* Default resets */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

/* Setup */
.header,
.main,
.highlights,
.footer {
  width: 120em;
  margin: 0 auto;
}

.btn {
  border: 0;
  background-color: var(--color-btn);
  color: var(--color-white);
  font-size: 1.6rem;
  font-weight: 500;
  padding: 1.6rem 2.5rem;
}

/* Header Section */
.container {
  background-color: var(--color-main);
}
.header {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 80vh;
  place-items: center;
}
.headerLeft {
  grid-column: 1 / span 4;
}
.headerLeft__title {
  font-size: 6.4rem;
  font-weight: 700;
  color: var(--color-white);
  width: 85%;
}
.fa-arrow-right {
  margin-left: 1rem;
}
.headerRight {
  grid-column: 5 / span 4;
}
.headerRight__img {
  width: 100%;
}

/* Player cards */
.playerCards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
  margin-top: 7rem;
}
.playerCard {
  background-color: var(--color-white);
  box-shadow: 0px 0px 4rem rgba(0, 0, 0, 0.15);
  padding: 1.5rem;
}
.playerCard__img {
  width: 100%;
}
.playerCard__name {
  font-size: 2.8rem;
  color: var(--color-heading);
  padding: 1.5rem 0;
}
.playerCard__details {
  font-size: 1.6rem;
  color: var(--color-para);
}

/* Highlights */
.highlights {
  margin-top: 16.5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
}
.highlightLeft {
  grid-column: 1 / span 1;
}
.highlightLeft__title {
  font-size: 4.8rem;
  font-weight: 700;
}
.highlightLeft__details {
  width: 70%;
  font-size: 1.6rem;
  color: var(--color-para);
  margin-bottom: 2rem;
}
.highlightRight {
  grid-column: 2 / -1;
}
.highlightRight__img {
  width: 100%;
}

/* Footer */
.footer {
  text-align: center;
  margin-top: 12.5rem;
  padding: 3rem;
}
.footer__img {
  width: 30%;
}
.footer__logos > * {
  font-size: 1.6rem;
  padding: 0.8rem;
  margin: 0.8rem;
  border-radius: 50%;
  color: #969bab;
  background-color: rgb(199, 199, 199);
}
.footer__copyright {
  font-size: 1.8rem;
  color: var(--color-heading);
  margin-top: 1rem;
}
